* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 32px;
}

div.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  div.main-container {
    div.header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      width: 80vw;

      div#logo {
        display: flex;

        img {
          padding-right: 16px;
        }

        h1 {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 32px;
        }
      }

      div#filter-container {
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }

  div.list {
    margin-top: 16px;
    height: auto;
    padding: 24px;
    div#input-container {
      display: flex;
      flex-direction: column;
      padding: 8px;
      border: 2px solid red;

      input {
        font-family: "Roboto", sans-serif;
        padding-left: 16px;

        &::placeholder {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: #3d82eb;
        }
      }
    }
  }
}
